<table id="listable-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            {% for col in columns %}
                <th>{% if col.header %}{{col.header}}{% else %} {{col.field|title}} {%endif %}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for col in columns %}
                <th>{% if col.header %}{{col.header}}{% else %} {{col.field|title}} {%endif %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for td in row %}
                    <td>{{td}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% for col in columns %}
                <th>{% if col.header %}{{col.header}}{% else %} {{col.field|title}} {%endif %}</th>
            {% endfor %}
        </tr>
    </tfoot>

</table>
